body {
  min-height: 100vh;
  background-color: #ededed;
}

.header {
  h1 {
    // font-family: "Roboto", cursive;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: #2d3130;
    margin: 5rem 0rem 7rem 0rem;
  }
}

.settings {
  position: relative;
}

.pick {
  width: 49%;
  margin: auto;
}

input[type="color"] {
  position: absolute;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-appearance: none;
  width: 8rem;
  height: 8rem;
  border: none;
  transition: transform 0.2s ease-in-out;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input[type="color"]:hover {
  transform: scale(1.05);
}

.color,
.size {
  font-family: "Montserrat", sans-serif;
  width: 33%;
  margin: auto;
  margin-bottom: 2rem;
  @include flex(flex-start, center, row);
  h4 {
    margin-right: 2rem;
  }
  button {
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
    padding: 0.5rem 4rem;
    margin: 0rem 2rem 0rem 0rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s;
    border: 0.1rem solid rgb(141, 141, 141);
    box-shadow: rgba(0, 0, 0, 0.07) 0 6px 9px 0;
  }
  button:hover {
    transform: scale(1.1);
  }
  .size-choose {
    margin-right: 3.3rem;
  }
}

.color {
  margin-bottom: 2rem;
  button {
    color: #5c5f57;
  }
  button:nth-of-type(1) {
    color: #5c5f57;
    margin-left: 2.5rem;
  }
  button:nth-of-type(2) {
    color: #f1c565;
  }
  button:nth-of-type(3) {
    padding-right: 4rem;
    color: #696d61;
  }
}

.size {
  margin-bottom: 7rem;
  button {
    color: #5c5f57;
  }
  button:nth-of-type(1) {
    margin-left: 2.5rem;
  }
}

.container {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
  display: grid;
  width: 75rem;
  height: 65rem;
  grid-template-columns: repeat(var(--n, 16), 1fr);
  background-color: white;
  //border: 0.1rem solid #333333;
  box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  border-radius: 0.3rem;
}

#grid16 {
  grid-template-columns: repeat(var(--n, 16), 1fr);
}

#grid32 {
  grid-template-columns: repeat(var(--n, 32), 1fr);
}

#grid64 {
  grid-template-columns: repeat(var(--n, 64), 1fr);
}

.gridCol,
.gridRow {
  border: solid rgb(238, 238, 238) 1px;
  border-radius: 0.3rem;
}
