* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2c2c2c;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: #ededed;
}

.header h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #2d3130;
  margin: 5rem 0rem 7rem 0rem;
}

.settings {
  position: relative;
}

.pick {
  width: 49%;
  margin: auto;
}

input[type="color"] {
  position: absolute;
  cursor: pointer;
  margin-top: 1rem;
  -webkit-appearance: none;
  width: 8rem;
  height: 8rem;
  border: none;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type="color"]:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.color,
.size {
  font-family: "Montserrat", sans-serif;
  width: 33%;
  margin: auto;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.color h4,
.size h4 {
  margin-right: 2rem;
}

.color button,
.size button {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
  padding: 0.5rem 4rem;
  margin: 0rem 2rem 0rem 0rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: 0.1rem solid #8d8d8d;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.07) 0 6px 9px 0;
}

.color button:hover,
.size button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.color .size-choose,
.size .size-choose {
  margin-right: 3.3rem;
}

.color {
  margin-bottom: 2rem;
}

.color button {
  color: #5c5f57;
}

.color button:nth-of-type(1) {
  color: #5c5f57;
  margin-left: 2.5rem;
}

.color button:nth-of-type(2) {
  color: #f1c565;
}

.color button:nth-of-type(3) {
  padding-right: 4rem;
  color: #696d61;
}

.size {
  margin-bottom: 7rem;
}

.size button {
  color: #5c5f57;
}

.size button:nth-of-type(1) {
  margin-left: 2.5rem;
}

.container {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
  display: -ms-grid;
  display: grid;
  width: 75rem;
  height: 65rem;
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--n, 16), 1fr);
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
          box-shadow: rgba(0, 0, 0, 0.09) 0 6px 9px 0;
  border-radius: 0.3rem;
}

#grid16 {
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--n, 16), 1fr);
}

#grid32 {
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--n, 32), 1fr);
}

#grid64 {
  -ms-grid-columns: (1fr)[var];
      grid-template-columns: repeat(var(--n, 64), 1fr);
}

.gridCol,
.gridRow {
  border: solid #eeeeee 1px;
  border-radius: 0.3rem;
}
/*# sourceMappingURL=style.css.map */